.box{
  width: 100px;
  height: 100px;
  border: 1px solid gold
}
.container {
  display: flex;
  flex-direction: column;
}

.friend-container{
  border: 1px solid gray;
  background-color: aqua;
  margin-bottom: 10px;
}

.friend-container img{
  float:left
}